<div class="cont-outer">
	<div class="cont-inr">
		<div class="cont-lft-new"  style="">
			<div class="titlebar2">
				STUDENT REGISTRATION FOR COACHING
			</div>
			<br/>
			<%= render 'form' %>
			<%= link_to 'Back', students_path %>

		</div>

		<!--Content Right-->
		<div class="cont-rgt-new" style="height:897px;">
			<!-- <a href="#" title="Download Brochure"><img src="/images/btn-download-brochure.png" alt="Download Brochure" /></a> -->
			<%= render "shared/right_content" %>
		</div>
</div>
</div>
