<div class="cont-outer">
    <div class="cont-inr">
        <div class="cont-lft"  style="margin-bottom:3em;">
            <h2 style="color: #19388A;font: bold 20px Arial, Helvetica, sans-serif">NEW STUDENT REGISTRATION FOR COACHING</h2>
            <br/>
            <%= render 'form' %>

<%= link_to 'Back', students_path %>
            
       
     
        </div>
<br/><br/>
        <!--Content Right-->
        <div class="cont-rgt">
            <a href="#" title="Download Brochure"><img src="/images/btn-download-brochure.png" alt="Download Brochure" /></a>
            <%= render "shared/right_content" %>
        </div>

