<div class="spacer"></div>
<!--FOOTER-->
<div id="footer">
	<!--Top-->
    <div class="footer-top-outer">
    	<div class="footer-top-inr">
              <div class="footer-top-lft">
            	<ul>
                	<li>Services</li>
                    <li><a href="/homes/service#coaching" title="Coaching">Coaching</a></li>
                    <li><a href="/homes/service#admission" title="Admission">Admission</a></li>
                    <li><a href="/homes/service#training" title="Training & Placement">Training & Placement</a></li>
                    
                </ul>

                <ul>
                	<li>Advantage</li>
                    <li><a href="#" title="">Outsatnding training</a></li>
                    <li><a href="#" title="">Quality Placement</a></li>
                    <li><a href="#" title="">Modern Infrastructure</a></li>
                    
                </ul>

                <ul>
                	<li>Gateways For</li>
                    <li><a href="#" title="Training">Training</a></li>
                    <li><a href="#" title="Placement">Placement</a></li>
                    <li><a href="#" title="Education"> Education</a></li>
                </ul>
            </div>

            <div class="footer-top-rgt">
            	<ul class="footer-contact">
                	<li class="mail">Email: <a href="mailto:support@oseror.com" title="">study.line@rediffmail.com</a></li>
                    <li class="phone">Phone:+91 9679377233</li>
                </ul>
                <a href="#" title="Online Support"><img src="../images/clip-online-suport.png" alt="" class="f-rgt" /></a>
                <!-- <div class="payment-option">
                	<ul>
                    	<li>WE ACCEPT : </li>
                        <li><img src="../images/paypal.png" alt="Paypal" /></li>
                        <li><img src="../images/hdfc.png" alt="HDFC" /></li>
                    </ul>
                </div> -->
            </div>


        </div>
    </div>
    <!--/Top-->
    <!--Bottom-->
    <div class="footer-botm-outer">
    	<div class="footer-botm-inr">
        	<p class="copyight">&copy; 2015, Studyline, All right reserved</p>
            <ul class="foot-links">
            	<li><a href="/" title="Home">Home</a></li>
                <li>|</li>
                <li><a href="/homes/about_company" title="About Us">About Us</a></li>
                <li>|</li>
                <li><a href="/contacts/new" title="Contact us">Contact us</a></li>
                <li>|</li>
                <li><a href="/homes/terms" title="Terms of Use">Terms of Use</a></li>
                <li>|</li>
                <li><a href="/homes/privacy" title="Privacy Statement">Privacy Statement</a></li>
            </ul>
        </div>
    </div>

    <!--/Bottom-->


</div>
<!--/FOOTER-->
