<!--HEADER START-->
<div id="header-outer">
    <div class="header-top-outer">
         <div class="header-top-inr">
            <ul class="social-media">
                <li>Follow us on:</li>
                <li><a href="http://www.facebook.com" target="_blank" class="facebook" title="">Facebook</a></li>
                <li><a href="http://twitter.com" target="_blank" class="twitter"  title="">Twitter</a></li>
            </ul>
            <ul class="top-links">
                <li><a href="about-us.html" title="About Us">About Us</a></li>
                <li><a href="contact-us.html" title="Contact Us">Contact Us</a></li>
            </ul>
            <div class="spacer"></div>
            <a href="/" title="Home" style=" background:none; text-decoration:none; top: 28px; position: relative; "><img src="../images/courses/new-logo.png" alt="Studyline" class="logo-sp" style="height:76px;" /> </a>
            <div class="mail-sp">
                <a href="mailto:support@oserror.com" class="mailto">study.line@rediffmail.com</a>
                <span class="ph-no">+91 9679377233</span>
            </div>
            <!--Navigation-->
            <div class="spacer"></div>

            <!--NAVIGATION-->
 <ul class="menu">
    <li><a href="/" title="Home">Home</a><span></span></li>
    <li><a href="/homes/about_company" title="About Us"  onmouseover="dropdownmenu(this, event, menu1, '230px')" onmouseout="delayhidemenu()">About Us</a><span></span></li>
     <li><a href="/homes/service" title="Services"   onmouseover="dropdownmenu(this, event, menu2, '230px')" onmouseout="delayhidemenu()">Services</a><span></span></li>
     <li><a href="<%= students_path%>" title="Registraion">Student Registration</a><span></span></li>
    <li><a href="#" onmouseover="dropdownmenu(this, event, menu3, '230px')" onmouseout="delayhidemenu()"title="Clients">Clients</a><span></span></li>
    <!-- <li><a href="/homes/testimonial" title="Testimonials">Testimonials</a><span></span></li> -->
    <li><a href="/contacts/new" title="Contact Us">Contact Us</a><span></span></li>
</ul>
<!--/NAVIGATION-->




        </div>
    </div>

    
</div>
<!--HEADER END-->