
            <div class="connect">
            	<h2>Connect with us:</h2>
                <ul>
                	<li><a href="#" title=""><img src="../images/icon-gtalk.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="../images/icon-skype.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="../images/icon-people.png" alt="" /></a></li>
                </ul>
            </div>
            
            <!--Advertise-->
            <div class="news-outer">
<iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-142472112511742482' frameborder=0 height=250 width=260></iframe>            </div>
            <!--/Advertise-->
            
            <!--News and Press-->
            <div class="news-outer">
            	<h2>Student's Opinion</h2>
                <div class="neswbox">
                	<p>This is a good consultancy firm. I am very gratefull to him for give me good college. After completion my study now I join a renowned company.<br />...</p>
                    <a href="#" title="" class="more">more</a>
                 </div>
                 <div class="neswbox">
                	<p>studyline did an excellent job on our project. They gave us more than we expected without demand extra<br />...</p>
                    <a href="#" title="" class="more">more</a>
                 </div>
            </div>
            <!--/News and Press-->

            <!--Free Quote-->
            <div class="free-quote">
            	<div class="quote-caption">
                	<a href="contacts/new"><h2>Contact us</h2></a>
                	
                </div>
                

            </div>
            <!--/Free Quote-->


