
            <div class="connect">
            	<h2>Connect with us:</h2>
                <ul>
                	<li><a href="#" title=""><img src="../images/icon-gtalk.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="../images/icon-skype.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="../images/icon-people.png" alt="" /></a></li>
                </ul>
            </div>
            <!--News and Press-->
            <div class="news-outer">
            	<h2>News and Press:</h2>
                <div class="neswbox">
                	<p>The work has been great and has required little further direction to complete all of the tasks assigned. The provider is always thinking what is best for the project<br />...</p>
                    <a href="web-developement.html" title="Web Developement" class="more">more</a>
                 </div>
                 <div class="neswbox">
                	<p>Oseror did an excellent job on our project. They gave us more than we expected without demand extra<br />...</p>
                    <a href="web-developement.html" title="Web Developement" class="more">more</a>
                 </div>
            </div>
            <!--/News and Press-->

            <!--Free Quote-->
            <div class="free-quote">
            	<div class="quote-caption">
                	<a href="contacts/new"><h2>Contact us</h2></a>
                	
                </div>
                

            </div>
            <!--/Free Quote-->


