
            <div class="" style="border:1px solid #d7d7d7; padding:1em">
            	<h2 style="border-bottom:  solid #fa9700">CEO Desk</h2>
            	<br/>
                <ul>
                	<li style="float:left; width:90px;"><a href="#" title=""><img src="../images/icon-gtalk.png" alt="" /></a></li>
                	<li style="text-align: justify; ">Sourangshu kar  is an experienced  education strategist and founder of Studyline - One of the leading education consultancy in West Bengal. <br/><br/>We help thousands of students every year to pursue higher education. Motivated by our core values 'ethics, expertise and leadership', we are one of the most trusted names in the field of technical education. 
 </li>
                    
                </ul>
            </div>
<br/>
            
            <div class="connect">
            	<h2>Connect with us:</h2>
                <ul>
                	<li><a href="#" title=""><img src="../images/icon-gtalk.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="../images/icon-skype.png" alt="" /></a></li>
                    <li><a href="#" title=""><img src="../images/icon-people.png" alt="" /></a></li>
                </ul>
            </div>
            
            <!--Advertise-->
            <div class="news-outer">
<iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-142472112511742482' frameborder=0 height=250 width=260></iframe>            </div>
            <!--/Advertise-->
            
            <!--News and Press-->
            <div class="news-outer">
            	<h2>Student's Opinion</h2>
                <div class="neswbox">
                	<p>This is a good consultancy firm. I am very gratefull to him for give me good college. After completion my study now I join a renowned company.<br />...</p>
                    <a href="#" title="" class="more">more</a>
                 </div>
                 <div class="neswbox">
                	<p>studyline did an excellent job on our project. They gave us more than we expected without demand extra<br />...</p>
                    <a href="#" title="" class="more">more</a>
                 </div>
            </div>
            <!--/News and Press-->

            <!--Free Quote-->
            <div class="free-quote">
            	<div class="quote-caption">
                	<a href="contacts/new"><h2>Contact us</h2></a>
                	
                </div>
                

            </div>
            <!--/Free Quote-->


