<!-- <h1>New contact</h1>

<%= render 'form' %>

<%= link_to 'Back', contacts_path %> -->
<div class="cont-outer">

  <div class="cont-inr" >
    <div class="cont-lft-new" style="padding-bottom:5em;">

      <div class="titlebar2">Contact Us</div>
      
      <div class="news-outer" style="margin-right:15px;float:left;width:325px;">
        <%= render 'form' %>
      </div>
      <div style="padding: 10px 0 0 10px;float:left;width:270px;">
        <h3 style="margin-top:5px;font-size:20px;">Studyline (HALDIA) </h3><br/>
        <p style="font-size:15px;"> Sahid Khudiram Nagar(BL- Chaiti), Hatiberia, Haldia</p>
        <p style="font-size:15px;">Purba Medini Pur, 721657</p><br/>
        <p style="font-size:15px;">West bengal, INDIA</p>
        <div class="neswbox" style="margin-top:30px;"></div>
        <p style="margin-top:18px;"><strong>Phone: </strong></br/>+91 9679377233 / 7407996085 (coaching & admission)<br/>
        	<span style="padding-left:8em">and</span><br/>
        	+91 9232313805 ( placement and trianing )
        	</p><br/>
        <p>Email: <span style="color:blue">study.line@rediffmail.com</span></p>
      </div>
    </div>

    <div class="cont-rgt-new" style="height: 755px">

      <div class="connect">
        <h2>Connect with us:</h2>
        <ul>
          <li><a href="#" title=""><img src="../images/icon-gtalk.png" alt="" /></a></li>
          <li><a href="#" title=""><img src="../images/icon-skype.png" alt="" /></a></li>
          <li><a href="#" title=""><img src="../images/icon-people.png" alt="" /></a></li>
        </ul>
      </div>
      <!--News and Press-->
      <div class="news-outer">
        <h2>News and Press:</h2>
        <div class="neswbox">
          <p>The work has been great and has required little further direction to complete all of the tasks assigned. The provider is always thinking what is best for the project<br />...</p>
          <a href="web-developement.html" title="Web Developement" class="more">more</a>
        </div>
        <div class="neswbox">
          <p>OSEROR did an excellent job on our project. They gave us more than we expected without demand extra<br />...</p>
          <a href="web-developement.html" title="Web Developement" class="more">more</a>
        </div>
      </div>
    </div>
  </div>
</div>

