<div class="cont-outer">
    <div class="cont-inr">
        <div class="cont-lft-new">
            <div class= "titlebar2" >About Studyline.</div>
            <ul list-style-type="square">
            	<li><strong>COACHING: </strong>JEXPO(for polytechnic)/WBJEE(for engineering and medical),we try to develop lower and middle class students who want to build their carrier in engineering and medical with very very low tuition fees</li></br/>
            	<li><strong>ADMISSION: </strong>all india admission centre for polytechnic,B.TECH,MBBS,MBA,BBA,BHM coarses in top most colleges with low package. NO RANK/LOW RANK come soon for NO/LOW donation</li><br/>
            	<li><strong>PLACEMENT: </strong>it is a platform for communicate employee & employer where proper quality fitted with appropriate jobs or best companies find appropriate manpower to serve a lifelong prosperity and development.</li><br/>
				<li><strong>TRAINING: </strong>it gives the appropriate training centre for technicl students to practice there theoretical knowledge in companies.</li><br/>
             </ul>
            
            <!-- <p style="margin-top:1em;font:bold 20px Arial">This page is under Construction</p> -->
      
       
        <br class="spacer" />
		<div id="mission">
			<h2 style="color: #19388A; font: bold 20px Arial, Helvetica, sans-serif">Vission and Mission</h2>
			<span>Our mission is to harmonize the traditional values of india with the new values

brought through the progress of science and technology & our vision is to train the students to 

become quality engineers with high standard professionalism and ethics.</span>
		</div>
        <!--/Clients-->
        </div>

        <!--Content Right-->
        <div class="cont-rgt-new">
            <!-- <a href="#" title="Download Brochure"><img src="/images/btn-download-brochure.png" alt="Download Brochure" /></a> -->
            <%= render "shared/right_content" %>
        </div>

        <!--/Content Right-->

    </div>

</div>
<!--/CONTENT-->