
<!--Header Bottom-->
    <div class="header-botm-outer">
        <div class="hedr-botm-inr">
           <div class="header-botm-inr-main">
               <div class="bannerlft">
                <h2>Welcome To Studyline Consultancy</h2><br /><br />
                <p>We are known by many descriptions. We are Recruitment Consultants /Placement consultancy / a Job Consultancy/ Employment Agency/ Placement Agents/Senior Management Vacancy Consultants/. </p>
                <br /><br />
                <a href="#"><img src="images/btn-1.jpg" alt="" /></a>
            </div>
            <!--SLIDE - PORTFOLIO-->
            <div class="bannerrgt">
                <div id="controller" class="hidden">
        <span class="jFlowControl jFlowSelected"></span>
        <span class="jFlowControl"></span>
        <span class="jFlowControl"></span>
    </div>

    <!-- <div id="prevNext" style="position:relative">
        <img src="images/prev.png" alt="Previous Tab" class="jFlowPrev" style="position:absolute; top:95px; left:-7px">
        <img src="images/next.png" alt="Next Tab" class="jFlowNext" style="position:absolute; top:95px; left:426px">
    </div> -->

            </div>
            <!--/SLIDE - PORTFOLIO-->
           </div>
         </div>
    </div>
    <!--/Header Bottom-->
<!--CONTENT START-->
<div class="cont-outer">
    <div class="cont-inr">
        <div class="cont-lft">
            <h2>We are expert team of Training & placement and poised to become the best recruitment company.</h2>
            <p>Study online is a global management manpower consulting firm working for a client base of more than 500 companies. We are rich with Smarter Talent Resources, trained professionally under our industry-best orientation strategies. Since 2007 being engaged in staffing services as per the needs of our valuable global clients, Dream Job Consultancy will be the best platform to identify the highest-value opportunities. As we help our clients find the right human resources through all transparent consultancy methodologies, so do we help eligible job-seekers in placing them in right companies.
      </p>
      <div class="app-box">
            <div class="app-head-out">
                <h2>Training</h2>
                 <!--<div class="app-head-rgt"></div>    -->
            </div>
            <div class="web-development-details"><p>We deliver the best and <br />quality web application in the <br />minimum possible time and<br /> at an affordable price.<br /> By following agile and scrum <br />methodology we develop Web product</p></div>
            <div class="appbox-links">
                <a href="web-developement.html" title="Web Developement" class="more">more</a>
            </div>
        </div>

        <div class="app-box no-marg-rgt">
            <div class="app-head-out">
                <h2>Placements</h2>
                 <!--<div class="app-head-rgt"></div>       -->
            </div>
            <div class="mobility-details"><p>We deliver the best and <br />quality web application in the <br />minimum possible time and<br /> at an affordable price.<br /> By following agile and scrum <br />methodology we develop Web product.</p></div>
            <div class="appbox-links">
                <a href="web-developement.html" title="Web Developement" class="more">more</a>
            </div>
        </div>


        <div class="app-box">
            <div class="app-head-out">
                <h2>Coaching</h2>
                 <div class="app-head-rgt"></div>
            </div>
            <div class="outsourcing-details"><p>We deliver the best and <br />quality web application in the <br />minimum possible time and<br /> at an affordable price.<br /> By following agile and scrum <br />methodology we develop Web product.</p></div>
            <div class="appbox-links">
                <a href="web-developement.html" title="Web Developement" class="more">more</a>
            </div>
        </div>


        <div class="app-box no-marg-rgt">
            <div class="app-head-out">
                <h2>Placement</h2>
                 <div class="app-head-rgt"></div>
            </div>
            <div class="design-details"><p>We deliver the best and <br />quality web application in the <br />minimum possible time and<br /> at an affordable price.<br /> By following agile and scrum <br />methodology we develop Web product</p></div>
            <div class="appbox-links">
                <a href="web-developement.html" title="Web Developement" class="more">more</a>
            </div>
        </div>

        <br class="spacer" />

        <!--Technology-->
        <div class="tech-outer">
            <ul class="techicons">
                <!-- <li class="pad-top-40">Some Of Our Prized Clients</li> -->
                <li><span style="background: none;"><img src="images/download.jpg" alt="Ruby on Rails" /></span></li>
              <li><span style="background: none;"><img src="images/download.jpg" alt="Ruby on Rails" /></span></li>
              <li><span style="background: none;"><img src="images/download.jpg" alt="Ruby on Rails" /></span></li>
              <li><span style="background: none;"><img src="images/download.jpg" alt="Ruby on Rails" /></span></li>
              </ul>
        </div>
        <!--/Technology-->

        <!--Clients-->
         <!--<div class="clients">
             <h3>Clients:</h3>
            <ul>
                <li><img src="images/logo-clients-1.jpg" alt="" /></li>
                <li><img src="images/logo-clients-2.jpg" alt="" /></li>
                <li><img src="images/logo-clients-1.jpg" alt="" /></li>

            </ul>
         </div>-->

        <!--/Clients-->
        </div>

        <!--Content Right-->
        <div class="cont-rgt">
            <a href="#" title="Download Brochure"><img src="images/btn-download-brochure.png" alt="Download Brochure" /></a>
            <%= render "shared/right_content" %>
        </div>

        <!--/Content Right-->

    </div>

</div>
<!--/CONTENT-->