
<!--Header Bottom-->
    <div class="header-botm-outer">
        <div class="hedr-botm-inr">
           <div class="header-botm-inr-main">
               <div class="bannerlft">
                <h2>Welcome To Study line </h2><br /><br />
                <!-- <p>A renowned organisation. We are Recruitment Consultants /Placement consultancy / a Job Consultancy/ Employment Agency/ Placement Agents/Senior Management Vacancy Consultants/. </p> -->
                <br /><br />
                <!-- <a href="#"><img src="images/btn-1.jpg" alt="" /></a> -->
            </div>
            <!--SLIDE - PORTFOLIO-->
            <div class="bannerrgt">
                <div id="controller" class="hidden">
        <span class="jFlowControl jFlowSelected"></span>
        <span class="jFlowControl"></span>
        <span class="jFlowControl"></span>
    </div>

    <!-- <div id="prevNext" style="position:relative">
        <img src="images/prev.png" alt="Previous Tab" class="jFlowPrev" style="position:absolute; top:95px; left:-7px">
        <img src="images/next.png" alt="Next Tab" class="jFlowNext" style="position:absolute; top:95px; left:426px">
    </div> -->

            </div>
            <!--/SLIDE - PORTFOLIO-->
           </div>
         </div>
    </div>
    <!--/Header Bottom-->
<!--CONTENT START-->
<div class="cont-outer">
    <div class="cont-inr">
        <div class="cont-lft" style="margin-top:2em;">
            <h2 style="font-size:26px; font-weight:bold;">We are expert team of Training & placement and poised to become the best recruitment company.</h2>
            <p style="font-size:15px; line-height:20px; text-align: justify; ">Study online is a global management manpower consulting firm working for a client base of more than 500 companies. We are rich with Smarter Talent Resources, trained professionally under our industry-best orientation strategies. Since 2007 being engaged in staffing services as per the needs of our valuable global clients, Study line Consultancy will be the best platform to identify the highest-value opportunities. As we help our clients find the right human resources through all transparent consultancy methodologies, so do we help eligible job-seekers in placing them in right companies.
      </p>
      <br/>
      <div class="app-box">
            <div class="app-head-out">
                <h2>Training</h2>
                 <!--<div class="app-head-rgt"></div>    -->
            </div>
            <div class="web-development-details"><p>We provide the best and <br />quality training in the <br />minimum possible time and<br /> at an affordable price.<br /> By following standard <br />methodology.... </p></div>
            <div class="appbox-links">
                <a href="/homes/service#training" title="Web Developement" class="more">more</a>
            </div>
        </div>

        <div class="app-box no-marg-rgt">
            <div class="app-head-out">
                <h2>Placements</h2>
                 <!--<div class="app-head-rgt"></div>       -->
            </div>
            <div class="mobility-details"><p>is a platform for communicate  <br />employee & employer where  proper  <br />& employer where  proper  quality <br /> fitted with appropriate.<br /> jobs or best  companies find <br />appropriate  manpower to serve a....</p></div>
            <div class="appbox-links">
                <a href="/homes/service#placement" title="Web Developement" class="more">more</a>
            </div>
        </div>


        <div class="app-box">
            <div class="app-head-out">
                <h2>Coaching</h2>
                 <div class="app-head-rgt"></div>
            </div>
            <div class="outsourcing-details"><p><b>ONE & TWO YEARS CLASS ROOM <br/>PROGRAMME <br/>JEXPO</b>(class-ix/x/xi/xii)<br/>(Joint entrance for <b>POLYTECHNIC</b>) <br/><b>WBJEE & AIEEE</b>(class-xi/xii)
<br/>(Joint entrance main and <br/>advance for <b>ENGINEERING</b> )
<br/><b>WBJEM & AIPMT</b>(class-xi/xii)
<br/>(Joint entrance for  <b>MEDICAL EXAM.</b>) </p></div>
            <div class="appbox-links">
                <a href="/homes/service#coaching" title="Web Developement" class="more">more</a>
            </div>
        </div>


        <div class="app-box no-marg-rgt">
            <div class="app-head-out">
                <h2>Admission</h2>
                 <div class="app-head-rgt"></div>
            </div>
            <div class="design-details"><p>ARRANGEMENT  FOR DIRECT ADMISSION TO ANY TOP COLLEGES IN ALL <br/>INDIA(including
		W.B/BANGALORE/<br/>KARNATAKA/ORRISA/DELHI/<br/>M.P/ETC)in the following courses<br/>  through M.Q/NRI quota.<br/>
		<b>[POLYTECHNIC/B.TECH/MBBS/BDS/BBA/BCA/MBA/HOTEL 
		MANAGEMENT/ETC.]</b><br/>
		With low donation/ no donation</p></div>
            <div class="appbox-links">
                <a href="/homes/service#admission" title="Web Developement" class="more">more</a>
            </div>
        </div>

        <br class="spacer" />

        <!--Technology-->
        <div class="tech-outer">
            <ul class="techicons">
            	<!--<iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-142472222578752700' frameborder=0 height=90 width=650></iframe>-->
                <!-- <li class="pad-top-40">Some Of Our Prized Clients</li> 
                <li><span style="background: none;"><img src="images/download.jpg" alt="Ruby on Rails" /></span></li>
              <li><span style="background: none;"><img src="images/download.jpg" alt="Ruby on Rails" /></span></li>
              <li><span style="background: none;"><img src="images/download.jpg" alt="Ruby on Rails" /></span></li>
              <li><span style="background: none;"><img src="images/download.jpg" alt="Ruby on Rails" /></span></li>-->
              </ul>
        </div>
        <!--/Technology-->

         <!--/Clients-->
         <div class="course">
             <!-- <h3>Clients:</h3> -->            
                <li><img src="images/courses/iit-jee.png" alt="" /><img height="50" src="images/courses/wb-jee.png" alt="" /><img height="50" src="images/courses/mba.png" alt="" />   
                	<img src="images/logo-clients-1.jpg" alt="" /> <img width="250" src="images/courses/poly.png" alt="" /> <img width="165"  src="images/courses/medical.png" alt="" />  <img src="images/courses/aieee.png" alt="" />               	
                </li>           
         </div>

        <!--/Clients-->
         <div class="clients" style="margin-bottom: 3em; padding:7px; border: 2px solid #d7d7d7;">
         	<b>PRIVATE  TUITOR</b><br/>
We have facility to  private tuitors  for tuition only the SCIENCE GROUP of BENGALI &ENGLISH medium <br/>
students in the board of  WBCHSE/ICSE/CBSE <br/>
<b style="color:red;">MATHEMATICS</b> (class-ix/x/xi/xii)<br/>
<b style="color:red;">PHYSICS</b> (class-ix/x/xi/xii) <br/>
<b style="color:red;">CHEMISTRY</b> (class-ix/x/xi/xii) <br/>
<b style="color:red;">BIOLOGY</b>  (class-ix/x/xi/xii) <br/>
High qualified experience teachers are available here<br/>
<b style="color:blue;">Call-9679377233</b>
         </div>
         
        </div>

        <!--Content Right-->
        <div class="cont-rgt" style="margin-top: 2em;">
            <!-- <a href="#" title="Download Brochure"><img src="images/btn-download-brochure.png" alt="Download Brochure" /></a> -->
            <%= render "shared/right_content" %>
        </div>

        <!--/Content Right-->

    </div>

</div>
<!--/CONTENT-->