<div class="cont-outer">
    <div class="cont-inr">
        <div class="cont-lft-new">
            <div class= "titlebar2" >Privacy Statement</div>
            <p style="margin-top:10em;font:bold 20px Arial">This page is under Construction</p>
     
       
        <br class="spacer" />

        <!--/Clients-->
        </div>

        <!--Content Right-->
        <div class="cont-rgt-new">
            <!-- <a href="#" title="Download Brochure"><img src="/images/btn-download-brochure.png" alt="Download Brochure" /></a> -->
            <%= render "shared/right_content" %>
        </div>

        <!--/Content Right-->

    </div>

</div>
<!--/CONTENT-->