<div class="cont-outer">
    <div class="cont-inr">
        <div class="cont-lft-new" style="padding-bottom: 100px;">
            <div class= "titlebar2" >Service</div>
                <!-- 
            <p style="margin-top:3em;font:bold 20px Arial">This page is under Construction</p> -->
     			<div id="coaching">
				<b>COACHING :</b> JEXPO-students who are now in the class of  X,XI,XII and want to prepair them for the examination JEXPO for complete  a diploma coarse in engineering and technology They may take admission for  one year class room programme  with low fees but standard education
				 WBJEE-students who want to complete degree coarse in engineering and technology/ medical from class XI,XII  or passed out of class XII, They may take admission for  one year or two year class room programme for preparation  WBJEE/AIEEE/IIT-JEE with low fees but standard education.
				 We prepare  the students very  very  carefully we observe the weak point of the students and hearty try  to solve their problems . mainly we force them to practice and there will be 24x7 hours solve classes. Our teachers are highly qualified and also experienced we want to prepare low and medium class students .we don't serve education  as a business mind. every students have their  own  quality .we just help them to reach their goal ,students who are interests please register your name to the site/ fillup the <a href="/students/new">form here...</a>
			     </div>
			     <br/>

				<div id="admission">
				<b>ADMISSION :</b>We offer direct admission  for the students to complete their higher studies in engineering,technology,management,medical after class x or xii all over india including west Bengal, Orrisa, Bangalore,etc..we help to take admission in genuine  rate and timely admission are not  agent, we advise to take proper coarse that you adjust and build your carrier according your financial condition we choose high quality grade 'A' colleges to take admission with lowest costthat you can bear,and fullfill your ambission.our coarse are DIPLOMA/B.TECH/MBBS/BDS/BBA/BCA/MBA/LLB/NURSHING  etc.
				</div>
				<br/>

				<div id="placement">
				<b>PLACEMENT :</b>We have placement cell.we provide a appropriate person at appropriate jod.freshers and experience persons may contact us to get proper satisfied job in all over india in the field of  oil,gas,manufacturer,civil,construction ,plastic,electrical, producing company etc.employee and employer both can contact with us.please register below for appropriate operation
				</div>
				<br/>

				<div id="training">					
				<b>TRANING :</b> we give training the students in the field of   the engineering and technology .also we send the students to the different companies to get proper training so that they can improve their quality. Our companies are in the field of oil,gas,manufacturer,civil,construction ,plastic,electrical, production etc. The field of Training and Development has in recent times attracted some of the most competent individuals from various fields.
				This workshop will equip you with everything necessary to enter the Training field with ease and grow into being a successful corporate trainer in the shortest possible time.
				</div>
        <br class="spacer" />

        <!--/Clients-->
        </div>

        <!--Content Right-->
        <div class="cont-rgt-new" style="padding-bottom: 153px;">
            <!-- <a href="#" title="Download Brochure"><img src="/images/btn-download-brochure.png" alt="Download Brochure" /></a> -->
            <%= render "shared/right_content" %>
        </div>

        <!--/Content Right-->

    </div>

</div>
<!--/CONTENT-->